llama-index
llama-index-readers-file
unstructured[all-docs]
chromadb
sentence-transformers
python-magic-bin; sys_platform == 'win32'
#ai-agent
openai
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-ollama
flashrank
langchain-huggingface
langchain-mcp-adapters 
langgraph
# mcp server
mcp
httpx
#fastAPI server
fastapi
uvicorn
pymongo
gunicorn
